header.sticky-top {
  z-index: 999;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

code, pre, form.d-flex input[type=search] {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
}

pre.highlight {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
  padding: 1rem;
}

h2 {
  padding-top: 1.5rem;
}

h2#lösungsansätze {
  margin-top: 10rem;
}

h3 {
  padding-top: .5rem;
}

h3 {
  padding-top: .25rem;
}

img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
