<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/ccs/web_assets/style.css">
	<base href="{{ site.baseurl }}" />
	<title>{{ page.title }} // {{ site.title }}</title>
  </head>
  <body>
	<header class="sticky-top">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-xl">
		  <a class="navbar-brand" href="/ccs/">CCS // Begleitmaterial</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav mx-auto">
			  <li class="nav-item"><a href="/ccs/01-was-ist-ccs/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Was ist Computational Communication Science?">01</a></li>
			  <li class="nav-item"><a href="/ccs/02-daten-sichten/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Daten sichten">02</a></li>
			  <li class="nav-item"><a href="/ccs/03-daten-bewerten/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Daten bewerten">03</a></li>
			  <li class="nav-item"><a href="/ccs/04-forschungssoftware-entwickeln/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Forschungssoftware entwickeln">04</a></li>
			  <li class="nav-item"><a href="/ccs/05-daten-beziehen/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Daten beziehen">05</a></li>
			  <li class="nav-item"><a href="/ccs/06-fremde-daten-sammeln/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Fremde Daten sammeln">06</a></li>
			  <li class="nav-item"><a href="/ccs/07-eigene-daten-generieren/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Eigene Daten generieren">07</a></li>
			  <li class="nav-item"><a href="/ccs/08-texte-als-daten-1/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Texte als Daten I">08</a></li>
			  <li class="nav-item"><a href="/ccs/09-texte-als-daten-2/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Texte als Daten II">09</a></li>
			  <li class="nav-item"><a href="/ccs/10-maschinelles-lernen-1/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Maschinelles Lernen I (überwacht)">10</a></li>
			  <li class="nav-item"><a href="/ccs/11-maschinelles-lernen-2/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Maschinelles Lernen II (unüberwacht)">11</a></li>
			  <li class="nav-item"><a href="/ccs/12-netzwerke-als-daten/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Netzwerke als Daten">12</a></li>
			  <li class="nav-item"><a href="/ccs/13-gruppen-und-sequenzen-als-daten/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Gruppen und Sequenzen als Daten">13</a></li>
			  <li class="nav-item"><a href="/ccs/14-bilder-und-multimodale-daten/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bilder und multimodale Daten">14</a></li>
			</ul>
			<form class="d-flex">
			  <div class="input-group">
			    <input class="form-control" type="search" placeholder="Durchsuchen ..." aria-label="Durchsuchen ..." pattern=".{3,}" id="q">
			    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
			  </div>
			</form>
		  </div>
		</div>
	  </nav>
	</header>
	<div class="container-xl mt-4">
	  <h1 class="text-center">{{ page.chapter }} // {{ page.title }}</h1>
	  {{ content }}
	</div>
	<footer class="container-xl mt-5 mb-2">
	  <div class="border-top border-secondary-subtle pt-4">
	    <p class="text-center text-muted col-8 mx-auto">
		  Online-Begleitmaterial zum Buch <a href="https://link.springer.com/book/9783658401702" target="_blank">Computational Communication Science: Eine Einführung</a> von <a href="https://haim.it/" target="_blank">Prof. Dr. Mario Haim</a>, erstmals erschienen 2023 bei Springer VS. Die Struktur der Materialien hier orientiert sich an den Abschnitten des Buchs. Die Rechte des Buchs liegen beim Verlag und dem Autor, die hier veröffentlichten Begleitmaterialien unterliegen der <a href="https://datenfruehstueck.github.io/ccs/LICENSE.txt" target="_blank">CC-BY-4.0-Lizenz</a>.
		</p>
	  </div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% if page.tipue_search.active %}
	<script src="/ccs/web_assets/tipuesearch_content.js"></script>
	<script src="/ccs/web_assets/tipuesearch_set.js"></script>
	<script src="/ccs/web_assets/tipuesearch.min.js"></script>
	{% endif %}
	<script src="/ccs/web_assets/main.js"></script>
  </body>
</html>